body, p, header, aside, section, article, h1, h2, h3, nav, div, footer {
    padding: 0;
    margin: 0;
}
body {
    background-color: #111;
    font: 100%;
    font-family: 'Open Sans', sans-serif;
}
#wrapper {
    max-width: 1920px;
    margin: 0 auto;
    background-color: white;
}
p {
    margin-bottom: 1.2em;
    font-family: 'Open Sans', sans-serif;
}
header {
    text-align: center;
    background-color: #111;
    border: 3px solid #f6dc10;
    height: auto;
}
header h1 {
    color: #e1e2dd;
    font-weight: 900;
    font-size: 2.5em;
    margin-bottom: 1em;
}
aside {
    max-width: 200px;
    float: left;
    min-height: 600px;
    color: #e1e2dd;
    background-color: #333;
    border: 10px solid RGBa(255,255,255,.5);
    text-align: center;
    font-size: 90%;
    padding: 1px;
}
aside p {
    padding: 0px 20px;
    padding-top: 0.3em;
    font-family: 'Open Sans', sans-serif;
}
section {
    padding: 10px;
    float: left;
    max-width: 65%;
}
article p {
    padding-left: 1.5em;
    font-family: 'Open Sans', sans-serif;
}
footer {
    clear: both;
    background-color: #111;
    color: #e1e2dd;
    border-top: 3px solid #f6dc10;
    text-align: left;
    font-size: 80%;
    min-height: 100px;
    padding: 3em 0 0 3em;
}
.copy {
    padding-top: 1%;
    text-align: center;
}
nav {
    margin-left: -40px;
}
nav ul {
    margin: 0;
    list-style: none;
}
nav ul li {
    display: inline-block;
    margin: 0 0.35em;
}
nav ul li ul {
    display: none;
}
nav ul li a {
    border-radius: 5px;
    color: #111;
    text-decoration: none;
    padding: 0.6em 1.2em;
    border: 1px solid #19E2FF;
    background-color: #19E2FF;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
}
.cols {
    -webkit-column-width: 300px;
    -moz-column-width: 300px;
    column-width: 300px;
}
.cols-span {
    -webkit-column-span: all;
    -moz-column-span: all;
    column-span: all;
    font-size: 1.2em;
    margin-bottom: 0.2em;
    line-height: 1.2em;
}
.cols p {
    margin-bottom: 1.1em;
    text-align: justify;
}
.lead {
    font-family: Georgia, cursive, sans-serif;
    font-size: 1.3em;
    text-align: left;
    font-style: italic;
}
img {
    padding: 0.3em;
}
.jumbotron {
    color: white;
    margin-top: 1.3em;
}
.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 0;
    margin: 0;
    outline: none;
}
.bottomNav {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}
.bottomNavCols {
    display: inline-block;
    width: 20%;
    vertical-align: top;
}
.bottomNavCols ul li {
    list-style-type: none;
    margin-left: -40px;
}
.bottomNavCols ul li a {
    color: #e1e2dd;
}
.jumbo {
    max-height: 400px;
    max-width: 820px;
}