body, p, header, aside, section, article,
h1, h2, h3, nav, div, footer {
    padding: 0;
    margin: 0;
}
body {
    background-color: #252122;
    font: 100% Verdana;
}
#wrapper {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    background-image: url(../img/bg01.png);
}
p {
    margin-bottom: 1.2em;
}
header {
    text-align: center;
    background: #b49898 url('../img/guitar03.jpg') 90% no-repeat; /* <-- this line! */
    height: 200px;
}
header h1 {
    color: #e1e2dd; /* New Color! */
    font-weight: 900;
    font-size: 2.5em;
    margin: 0 auto 1em auto; /* New lines start here! */
    padding: 0.6em;
    max-width: 40%;
    border-radius: 1em;
    background-color: #252122;
}
aside {
    max-width: 200px;
    float: left;
    min-height: 600px;
    color: #b49898;
    background-color: #483838;
}
aside p {
    padding: 0px 20px;
}
section {
    padding: 10px;
    float: left;
    max-width: 80%;
}
article p {
    padding-left: 1.5em;
}
footer {
    clear: both;
    background-color: #b49898;
    text-align: center;
    font-size: 85%;
    min-height: 100px;
}
footer p {
    padding-top: 3%;
}
nav {
    position: relative;
    top: 10.5%; /* sets the bottom of the anchor at the top of the section */ /* this code changed - may need to tweak! */
}
nav ul {
    margin: 0;
    list-style: none;
}
nav ul li {
    display: inline-block;
    margin: 0 0.35em;
    position: relative;
    float: left;
}
nav ul li ul {
    display: none;
}
nav ul li a {
    font-size: 110%;
    display: block;
    border-radius: 8px 8px 0 0; /* dog-ears the top, flattens the bottom */
    color: #e1e2dd;
    text-decoration: none;
    padding: 0.6em 1.2em; 
    background-color: #483838;
    margin-left: -1px; /* pull them in close! */
    white-space: nowrap; /* doesn't let long menu selections fall to the next line - messes with the display */
    outline: 0; /* some browsers will outline a link - this does not allow it to */
}
nav ul li a:hover,
nav ul li a:focus,
nav ul li a:active {
    background-color: #e1e2dd;
    color: #483838;
}
nav li:hover ul,
nav li.hover ul {
    display: block;
    position: absolute;
    float: none;
    margin-left: -45px;
    z-index: 1000; /* add this for sub-menu over slider! */
}
nav ul li:hover ul a,
nav ul li.hover ul a {
    background-color: #483838;
    color: #e1e2dd;
    width: 130px; /* this is what makes a uniform sub-menu display */
    border-radius: 0;
    text-align: left;
    padding-left: 0.6em;
}
nav ul li:hover ul a:hover,
nav ul li.hover ul a:hover,
nav ul li.hover ul a:focus,
nav ul li.hover ul a:active {
    background-color: #e1e2dd;
    color: #483838;
}
.cols {
    /*-webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;*/
    -webkit-column-width: 200px;
    -moz-column-width: 200px;
    column-width: 200px;
}
.cols-span {
    -webkit-column-span: all;
    -moz-column-span: all;
    column-span: all;
    font-size: 1.2em;
    margin-bottom: 0.2em;
    line-height: 1.2em;
}
.cols p {
    margin-bottom: 1.1em;
    text-align: justify;
}
.lead {
    font-family: Georgia;
    font-size: 1.3em;
    text-align: left;
    font-style: italic;
}
.rgt {
    float: right;
    max-width: 30%;
}
img {
    padding: 0.3em;
}
.spec {
    margin: -5px 0 10px 0;
    border-bottom: 1px solid #483838;
    line-height: 0;
}
.ads {
    float: right;
    text-align: center;
    font-size: 90%;
    color: #b49898;
    background-color: #483838;
}
.ads p {
    padding-top: 0.3em;
}

/* New Class */
.smImg {
    float: left;
    max-width: 30%;
    padding-right: 0.4em;
}
/* new selector - This will allow the images to shrink as we lose
display width. It will come in handy a bit later */
article img {
    max-width: 100%;
}
/* Change the top margin on the separator code */
.spec {
    margin: 15px 0 10px 0;
    border-bottom: 1px solid #483838;
    line-height: 0;
}

/* ********************* Slider ********************* */
/* New in version 1.7+ */
#slider3 {
    width: 99%;
    height: 400px;
    list-style: none;
}
/* images with caption */
#slider3 img {
    width: 100%;
    height: 100%;
}
/* position the panels so the captions appear correctly */
#slider3 .panel {
    position: relative;
}
/* captions */
#slider3 .caption-top,
#slider3 .caption-right,
#slider3 .caption-bottom,
#slider3 .caption-left {
    background: #000;
    color: #fff;
    padding: 10px;
    margin: 0;
    position: relative;
    z-index: 10;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
/* Top caption - padding is included in the width (480px here, 500px in
the script), same for height */
#slider3 .caption-top {
    left: 0;
    top: 0;
    width: 480px;
    height: 30px;
}
/* Right caption - padding is included in the width (130px here, 150px in
the script), same for height */
#slider3 .caption-right {
    right: 0;
    bottom: 0;
    width: 130px;
    height: 180px;
}
/* Bottom caption - padding is included in the width (480px here, 500px in
the script), same for height */
#slider3 .caption-bottom {
    left: 0;
    bottom: 0;
    width: 480px;
    height: 30px;
}
/* Left caption - padding is included in the width (130px here, 150px in
the script), same for height */
#slider3 .caption-left {
    right: 0;
    bottom: 0;
    width: 130px;
    height: 180px;
}
/* Caption close button */
.caption-top .close,
.caption-right .close,
.caption-bottom .close,
.caption-left .close {
    font-size: 80%;
    cursor: pointer;
    float: right;
    display: inline-block;
}
video {
    float: left;
    padding: 5px;
    margin-top: 10px;
}
#dashboard {
    width: 70px;
    background-color: #e1e2dd;
    padding: 20px 20px 0 20px;
    position: absolute;
    left: -92px;
    float: left;
    clear: right;
    z-index: 100;
}
#dashboard img {
    margin-bottom: 20px;
    border: 1px solid rgb(0,0,0);
    opacity: 0.4;
}
.slider {
    max-width: 80%;
    margin: 1em 1em 1em 14em;
}
.slider img {
    max-width: 100%;
}